{% extends 'base.html.twig' %}

{% block title %}Conditions de location{% endblock %}

{% block body %}


<h1> Conditions Générales</h1>

<p>
Les présentes Conditions Générales s’appliquent à toute Réservation en ligne, tel que ce terme est défini ci-après, conclue par le Locataire, particulier ou professionnel au moyen des Sites tel que ce terme est défini ci-après, dédié à la location de Véhicules de courte durée par les membres du réseau LOCA AUTO.

</p>

<p>

Agence (s) : Agence exploitée par LOCA AUTO ou ses filiales, les membres du réseau de Franchise, commerçants indépendants où est remis le Véhicule objet de la Réservation en ligne. Les franchisés sont des commerçants indépendants ayant la capacité de fixer librement leurs prix.
Sauf accord particulier, la prise de possession et la restitution du Véhicule s’effectuent auprès de l’Agence spécifiée lors de la Réservation en ligne.
</p>
<p>
Annulation : Annulation de la Réservation en ligne dans les conditions ci-après.
</p><p>
Pour être prise en compte, cette Annulation doit être notifiée à RENT A CAR par télécopie, par courriel ou encore par courrier arrivé avant les délais prévus ci-dessous..
</p><p>
Bon de réservation : courriel envoyé au Locataire en suite du Paiement en ligne confirmant la Réservation en ligne.
</p><p>
Conditions Générales de Location : dispositions applicables à tous Contrats de location. Les Conditions Générales de Location et le Guide des Conditions générales de location sont disponibles sur les Sites et/ou en Agence.
</p><p>
Lors de la prise de possession du Véhicule réservé en ligne, le Contrat de location est remis au Locataire.

</p><p>
Véhicule : la voiture particulière (VP) ou le véhicule utilitaire léger (VUL) mis à la disposition du Locataire et du conducteur solidairement responsables.

<p>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-3">
                <img class="logo img-fluid" src="{{ asset('build/images/usp_calendar.png') }}" alt="picto">
            </div>
            <div class="col-9">
                <h3>Locations flexibles</h3>
                <p>Vous pouvez annuler ou modifier la plupart des réservations gratuitement jusqu’à 48 heures avant la prise en charge du véhicule.</p>
            </div>
            
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-3">
                <img class="logo img-fluid" src="{{ asset('build/images/usp_magnifier.png') }}" alt="picto">
            </div>
            <div class="col-9">
                <h3>Pas de frais cachés</h3>
                <p>Sachez exactement ce que vous payez.</p>
            </div>
            
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-3">
                <img class="logo img-fluid" src="{{ asset('build/images/usp_wallet.png') }}" alt="picto">
            </div>
            <div class="col-9">
                <h3>Nous alignons nos tarifs</h3>
                <p>Vous avez trouvé la même offre pour moins cher ? Nous ajusterons notre tarif en conséquence.</p>
            </div>
            
        </div>
    </div>
</div>






{% endblock %}
