{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block body %}

<div class="container listado">
  <div >
    <p> Connexion correcte</p>
  </div>
      <div class="text-center mt-5 mb-5">
        <button href="{{ path('cars_index') }}" type="button" class="btn btn-primary m-auto">Voir toutes les voitures</button>
      </div>
</div>

{% endblock %}