{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block body %}

<div class="container listado">
  <div >
    <h1 class="text-center">Accès interdit</h1>
  </div>
      <div class="text-center mt-5 mb-5">

      <p>Vous n'avez pas la permission d'entrer sur cette page.
      </p>

<a class="btn text-white btn-primary" href="{{ path('service_car_list') }}">Voir toutes les voitures</a>
      </div>
</div>

{% endblock %}