{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block body %}


{{ include('site/slider.html.twig') }}


<!-- offres-->
    <div class="offres mt-5 mb-5">
      <h2 class="text-center color-p1 fs-3 mb-5">NOS OFFRES</h2>
      <div class="row">
        <div class="col-md-6 text-center"><img src="{{ asset('build/images/voitures/p-car2.jpg') }}" class="d-block img-fluid m-auto" alt="Location de la voiture">
        <h3 class="fs-3 color-p1">MBW</h3></div>
        <div class="col-md-6 text-center"><img src="{{ asset('build/images/voitures/p-car3.jpg') }}" class="d-block img-fluid m-auto" alt="Location de la voiture">
          <h3 class="fs-3 color-p1">JEEP</h3></div>
      </div>
    </div>




<div class="container listado">

</div>

    <div class="text-center mt-5 mb-5">

      <button type="button" class="btn btn-primary m-auto">Voir toutes les voitures</button>

    </div>






{% endblock %}
