{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du client{% endblock %}

{% block body %}

<h1>Services de location - Panel de control</h1>






<div class="container listado">

</div>

    <div class="text-center mt-5 mb-5">

    {{ include('cta/cta_car_index.html.twig') }}

    </div>






{% endblock %}
