<div class="container">
  <div class="row">
    <div class="col-md-3">
       <a class="btn text-white btn-primary" href="{{ path('car_brand_index') }}">Ajouter une marque</a>
    </div>
    <div class="col-md-3">
       <a class="btn text-white btn-primary" href="{{ path('car_color_index') }}">Ajouter une couleur</a>
    </div>
    <div class="col-md-3">
       <a class="btn text-white btn-primary" href="{{ path('cars_new') }}">Ajouter une voiture</a>
    </div>
    <div class="col-md-3">
       <a class="btn text-white btn-primary" href="{{ path('cars_index') }}">Liste</a>
    </div>
  </div>
</div>