{% extends 'base.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    <h1>Create new Cars</h1>

    {{ include('cars/menu.html.twig') }}

    {{ include('cars/_form.html.twig') }}

    
{% endblock %}
